/*.domains-list
{
	
}*/
.domains-list .domain
{
	display: inline-block;
}

.domains-list .domain-attribute
{
	display: inline-block;
	height: 25px;
	width: 150px;
	line-height: 25px;
	padding: 3px;
}

.domains-list .domain:nth-child(4n),
.domains-list .domain:nth-child(4n+1)
{
	background-color: #dee2e9;
}

.domains-list .domain:hover
{
	background-color: #c5e9ec;
}