/*.domains .domains-actions
{
	
}*/

.domains .search-input
{
	font-size: 16px;
	height: 25px;
	width: 250px;
}

.domains .search-sort
{
	height: 30px;
	width:225px;
}

.domains-list .domain
{
	display: inline-block;
}

.domains-list .domain:hover,
.domains-list .domain:hover label,
.domains-list .domain:nth-child(4n+1):hover,
.domains-list .domain:nth-child(4n+2):hover
{
	background-color: #c5e9ec;
	cursor: pointer;
}

.domains-list .domain:nth-child(4n+1),
.domains-list .domain:nth-child(4n+2)
{
	background-color: #dee2e9;
}

.domains-list .domain-attribute
{
	display: inline-block;
	height: 25px;
	width: 150px;
	line-height: 25px;
	padding: 3px;
}